<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="view/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="view/node_modules/toastr/build/toastr.min.css">
	<link rel="stylesheet" href="view/node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="view/main.css">
</head>
<body ng-app="codaApp">
	<div ng-view></div>
	<script src="view/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="view/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="view/node_modules/angular/angular.min.js"></script>
	<script src="view/node_modules/angular-route/angular-route.min.js"></script>
	<script src="view/node_modules/firebase/lib/firebase-web.js"></script>
	<script src="view/node_modules/angularfire/dist/angularfire.min.js"></script>

<!-- <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script> -->

	<script src="view/node_modules/lodash/lodash.min.js"></script>
	<script src="view/node_modules/restangular/dist/restangular.min.js"></script>
	<script src="view/scripts/models/fraternidad.model.js" defer="defer"></script>
	<script src="view/scripts/app.js" defer="defer"></script>
	<script src="view/scripts/controllers/danzas.js" defer="defer"></script>
	<script src="view/scripts/controllers/eventos.js" defer="defer"></script>
	<script src="view/scripts/controllers/recorrido.js" defer="defer"></script>
	<script src="view/scripts/controllers/conjuntos.js" defer="defer"></script>
	<script src="view/scripts/controllers/posiciones.js" defer="defer"></script>
	<script src="view/scripts/controllers/lugares.js" defer="defer"></script>
</body>
</html>